<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Teacher App</title>
 
</head>
<body>
<footer class="footerpart" >
  <p>
    &copy; 2025 <%= title %>
  </p>
</footer>
</body>
</html>