<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Teacher App</title>
 
</head>
<body>
<footer style="background-color: blueviolet;  box-sizing: border-box; width: 100%; padding: 20px;">
  <p style="text-align: center; color: #fff; font-size: 16px; width: 100%;">
    &copy; 2025 <%= title %>
  </p>
</footer>
</body>
</html>