<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Teacher App</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header class="headerpart">
    <h1>EMP Management System</h1>
    <nav>
      <a href="/teachers/add">Add New</a> 
       &nbsp; ||  &nbsp; 
      <a href="/teachers">View All</a>
        &nbsp; ||  &nbsp; 

      <% if (userId) { %>
        <a href="/teachers/change-password">Change Password</a>
         &nbsp; ||  &nbsp; 
         <a href="/teachers/dashboard">Dashboard</a>
         &nbsp; ||  &nbsp; 
        <a href="/teachers/logout">Logout</a>
      <% } else { %>
        <a href="/teachers/login">Login</a>
      <% } %>
      
    </nav>
  </header>
</body>
</html>