<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Teacher App</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header class="headerpart">
    <h1><%= title %></h1>
    <nav>
      <a href="/teachers/add">Add Teacher</a> 
       &nbsp; ||  &nbsp; 
      <a href="/teachers">View All</a>
    </nav>
  </header>
</body>
</html>