<!DOCTYPE html>
<html>
<head>
  <title>Teacher List</title>
</head>
<body>
<%- include('partials/header') %>
<section class="sectionmin">
    <h1 class="mainheading">Dashboard</h1>
     <p>
        User Seesion ID is -
        <%= userSessionId %>
    </p>
</section>
<%- include('partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
